INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cinnamon-settings-daemon/*.la
cinnamon-settings-daemon/*.lo
cinnamon-settings-daemon/*.o
cinnamon-settings-daemon/.deps/
cinnamon-settings-daemon/.libs/
cinnamon-settings-daemon/Makefile
cinnamon-settings-daemon/Makefile.in
cinnamon-settings-daemon/cinnamon-settings-daemon
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/*.gschema.valid
data/*.gschema.xml
data/*.gschema.xml.in
data/Makefile
data/Makefile.in
data/cinnamon-settings-daemon-uninstalled.pc
data/cinnamon-settings-daemon.desktop
data/cinnamon-settings-daemon.desktop.in
data/cinnamon-settings-daemon.pc
data/org.cinnamon.settings-daemon.enums.xml
depcomp
install-sh
libtool
ltmain.sh
man/Makefile
man/Makefile.in
man/cinnamon-settings-daemon.1
missing
omf.make
plugins/*/*.la
plugins/*/*.lo
plugins/*/*.o
plugins/*/.deps/
plugins/*/.libs/
plugins/*/Makefile
plugins/*/Makefile.in
plugins/Makefile
plugins/Makefile.in
plugins/a11y-keyboard/a11y-keyboard.cinnamon-settings-plugin
plugins/a11y-keyboard/csd-test-a11y-keyboard
plugins/a11y-keyboard/test-a11y-preferences-dialog
plugins/a11y-settings/a11y-settings.cinnamon-settings-plugin
plugins/a11y-settings/csd-test-a11y-settings
plugins/automount/automount.cinnamon-settings-plugin
plugins/automount/csd-test-automount
plugins/background/background.cinnamon-settings-plugin
plugins/background/csd-test-background
plugins/clipboard/clipboard.cinnamon-settings-plugin
plugins/color/color.cinnamon-settings-plugin
plugins/common/csd-test-input-helper
plugins/common/test-egg-key-parsing
plugins/cursor/cursor.cinnamon-settings-plugin
plugins/datetime/csd-datetime-mechanism
plugins/datetime/csd-datetime-mechanism-glue.h
plugins/datetime/org.cinnamon.SettingsDaemon.DateTimeMechanism.service
plugins/datetime/org.cinnamon.settingsdaemon.datetimemechanism.policy
plugins/datetime/test-system-timezone
plugins/dummy/dummy.cinnamon-settings-plugin
plugins/housekeeping/csd-disk-space-test
plugins/housekeeping/csd-empty-trash-test
plugins/housekeeping/housekeeping.cinnamon-settings-plugin
plugins/keyboard/keyboard.cinnamon-settings-plugin
plugins/media-keys/csd-test-media-keys
plugins/media-keys/cut-n-paste/*.la
plugins/media-keys/cut-n-paste/*.lo
plugins/media-keys/cut-n-paste/*.o
plugins/media-keys/cut-n-paste/.deps/
plugins/media-keys/cut-n-paste/.libs/
plugins/media-keys/media-keys.cinnamon-settings-plugin
plugins/mouse/csd-locate-pointer
plugins/mouse/csd-test-mouse
plugins/mouse/mouse.cinnamon-settings-plugin
plugins/orientation/csd-test-orientation
plugins/orientation/orientation.cinnamon-settings-plugin
plugins/power/csd-backlight-helper
plugins/power/csd-test-power
plugins/power/org.cinnamon.settings-daemon.plugins.power.policy
plugins/power/org.cinnamon.settings-daemon.plugins.power.policy.in
plugins/power/power.cinnamon-settings-plugin
plugins/print-notifications/csd-printer
plugins/print-notifications/csd-test-print-notifications
plugins/print-notifications/print-notifications.cinnamon-settings-plugin
plugins/screensaver-proxy/csd-test-screensaver-proxy
plugins/screensaver-proxy/screensaver-proxy.cinnamon-settings-plugin
plugins/smartcard/csd-test-smartcard
plugins/smartcard/smartcard.cinnamon-settings-plugin
plugins/sound/csd-test-sound
plugins/sound/sound.cinnamon-settings-plugin
plugins/xrandr/xrandr.cinnamon-settings-plugin
plugins/xsettings/csd-test-xsettings
plugins/xsettings/test-gtk-modules
plugins/xsettings/xsettings.cinnamon-settings-plugin
po/*.gmo
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
stamp-h1
test-driver
xmldocs.make
