config.guess
config.sub
obj-x86_64-linux-gnu
debian/tmp/
debian/files
debian/cinnamon-settings-daemon/
debian/cinnamon-settings-daemon-dev/
debian/*.substvars
debian/*.install
debian/*.links
debian/.debhelper/
debian/debhelper-build-stamp
debian/*.debhelper
